body{
  font-family: 'Atma', cursive;
  background-color: black;
}
  
.quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color:  #008000;
  }
  
  .question-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color: #ece09c;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 100%;
  }
  
  .question-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .question-container .question {
    color: black;
    font-size: 20px;
    margin-bottom: 20px;
    font-family: 'Atma', cursive;
  }
  
  .question-container .choices {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    margin-bottom: 20px;
  }
  
  .question-container .choices button {
    margin: 0;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #25a325;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 100%;
  }
  
  .question-container .choices button:hover {
    background-color: #FFD700;
  }
  
  .question-container button {
    font-family: 'Atma', cursive;
    font-weight: bold;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #25a325;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .question-container button:hover {
    background-color: #F1D302;
  }
  
  .result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    padding: 20px;
    background-color: #ece09c;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 100%;
  }
  
  .result-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .result-container button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #008000;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .result-container button:hover {
    background-color: #FFD700;
  }
  
  .score {
    margin-top: 20px;
    font-size: 18px;
  }
  